# Nuxt dev/build outputs
.output
.data
.data-e2e
.nuxt
.nitro
.cache
dist

# Test outputs
test-results
playwright-report
blob-report

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

samples/
